

<footer role="contentinfo">
    <div class="footer__container">

 <!-- Column 1 -->
           <div class="footer__brand">
                     <img src="{{ '/images/echt.png' | relative_url }}" alt="eCHT Logo" class="footer__logo">
                     <p>An online mathematics research community</p>
               <p class="footer__copyright">
                    &copy; 2026 eCHT. Last updated: {{ site.time | date: "%B %d, %Y" }}
       </p>
           </div>

 <!-- Column 2 -->
     <div class="footer__links">
       <h3 class="footer__heading">Related resources</h3>
       <ul>
       <li><a href="https://www.aatrn.net/", target="_blank">Applied Algebraic Topology Research Network (AATRN)</a></li>
       <li><a href="https://hottest-seminar.github.io/", target="_blank">Homotopy Type Theory Electronic Seminar Talks (HoTTEST)</a></li>
       <li><a href="https://olsume.org/", target="_blank">Online Seminar on Undergraduate Mathematics Education (OLSUME)</a></li>
       </ul>
       </div>

 <!-- Column 3 -->
    <div class="footer__links">
       <h3 class="footer__heading">Learn more</h3>
       <ul>
       <li><a href="https://www.youtube.com/user/dcisaksen/videos">Youtube</a></li>
       <li><a href="https://echt.zulipchat.com/">Zulip</a></li>
       <li><a href="https://lists.wayne.edu/cgi-bin/wa?SUBED1=ECHT&A=1">Mailing list</a></li>
       <li><a href="mailto:echtadmin@gmail.com">Email us</a></li>
       </ul>
     </div>

    </div>    
</footer>